<html>
  <head>
    <title>JOMTECH</title>
    <style type="text/css">
      
      * {
        margin:0px;
        padding:0px;
      }
      p
      
      #header {
        margin:auto;
        width:400px;
        font-family:Arial, Helvetica, sans-serif;
      }
      
      ul, ol {
        list-style:none;
      }
      
      .nav > li {
        float:left;
      }
      
      .nav li a {
        background-color:#fff;
        color:#000;
        text-decoration:none;
        padding:10px 12px;
        display:block;
      }
      
      .nav li a:hover {
        background-color:#14A4D2;
      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:130px;
      }
      
      .nav li:hover > ul {
        display:block;

      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }
      
    </style>
  </head>
  
  <body>
    <div id="header">
      <ul class="nav">


        <li><a href="ingenieria de software.html">Ingenieria de sofware</a>
          <ul>
            <li><a href="">Objetivos</a></li>
            <li><a href="">Recursos</a>
             
             <ul>
            <li><a href="">Recursos humanos</a></li>
            <li><a href=""></a>Recursos de entorno</li>
           </ul>

           </li>
            <li><a href="">Implicaciones socioeconómicas</a>

             <ul>
            <li><a href=""></a>Económicamente</li>
            <li><a href=""></a>Socialmente</li>
           </ul>
           </li>

            <li><a href="">Notaciones</a>
             <ul>
            <li><a href=""></a>LUM o UML</li>
            <li><a href=""></a>BPMN</li>
            <li><a href=""></a>(DFD)</li>
           </ul>
         </li>

            <li><a href="">Metodología</a>
              <ul>
            <li><a href=""></a>Limitaciones</li>
            <li><a href=""></a>Especificación</li>
            <li><a href=""></a>Programación</li>
            <li><a href=""></a>Desarrollo de la aplicación</li>
            <li><a href=""></a>Documentación</li>
            <li><a href=""></a>Mantenimiento</li>
           </ul>
            </li>

            <li><a href="">Ventajas </a>
              <ul>
            <li><a href=""></a>Desde el punto de vista de gestión</li>
            <li><a href=""></a>Desde el punto de vista de los ingenieros de software</li>
            <li><a href=""></a>Desde el punto de vista de cliente o usuario final</li>
           </ul>
         </li>

            <li><a href="">Modelos y ciclos de vida del desarrollo de software</a>
            <ul>
            <li><a href=""></a>Modelo en cascada o clásico</li>
            <li><a href=""></a>Modelo de prototipos</li>
            <li><a href=""></a></li>
           </ul>
         </li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>

        </li>




        <li><a href="redes.html">Redes</a>
               <ul>
           <li><a href="">Etimologia</a></li>
           <li><a href="">Historia</a></li>
          <li><a href="">Componentes basicos de las redes</a>
                 
                  <ul>
                <li><a href="">Software</a></li>
                <li><a href="">Dispositivos de usuario final</a></li>
                <li><a href="">Hardware</a></li>
                <li><a href="">Almacenamiento en red</a></li>
                <li><a href="">Dispositivos de red</a></li>
                <li><a href="">Protocolos de redes</a></li>
                <li><a href="">Modelo OSI</a></li>
                <li><a href="">Modelo TCP/IP</a></li>
                <li><a href="">Otros estándares</a></li>
                  </ul>

            </li>
            <li><a href="">Clasificación de las redes</a>

                 <ul>
                  <li><a href="">Por alcance</a>

                  </li>
                 </ul> 


                  <ul>
                <li><a href="">Por tipo de conexión</a>

                  <ul>
                    <li><a href="">Medios guiados</a></li>
                    <li><a href="">Medios no guiados</a></li>
                    <li><a href="">Por relación funcional</a></li>
                    <li><a href="">Por tecnología</a></li>
                    <li><a href="">Por topología física</a></li>
                    <li><a href="">Por la direccionalidad de los datos</a></li>
                    <li><a href="">Por grado de autentificación</a></li>
                    <li><a href="">Por grado de difusión</a></li>
                    <li><a href="">Por servicio o función</a></li>
                  </ul>
                  </ul>
                </li>
            </li> 
          </ul>
        </li>


        <li><a href="comunicacion.html">Comunicaciones</a>
          <ul>
            <li><a href="">Submenu1</a></li>
            <li><a href="">Submenu2</a></li>
            <li><a href="">Submenu3</a></li>
            <li><a href="">Submenu4</a></li>
          </ul>
        </li>

        <li><a href="electronica.html">Electronica</a></li>



      </ul>
    </div>
  </body>
</html>